

.fileset{
    height:150px;
    padding:0 6px 0 0;
    width:1198px;
}
.fileset panel{
    margin-bottom:2px;
}


.content-nodes{
    border:1px solid rgba(0,0,0,.125);
    width:900px;
    padding:6px;
    height:calc(100vh - 204px);
    overflow:auto;
}

.content-nodes div[class ~= "active"]{
    background:yellow;
}
.content-level{
    border:1px solid rgba(0,0,0,.125);
    position:absolute;
    z-index:10;
    top:0;
    left:900px;
    width:300px;
    padding:6px;
    height:calc(100vh - 204px);
    overflow:auto;
}
