<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="static/plugin/bootstrap/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="static/bak/bootstrap-table/bootstrap-table.min.css"/>
    <link rel="stylesheet" type="text/css" href="static/plugin/bootstrap-select/bootstrap-select.min.css"/>
    <link rel="stylesheet"  href="/static/css/common/nav.css"/>
    <link rel="stylesheet"  href="/static/css/index.css"/>
    <title>Log Scan</title>
</head>

<body>
<div class="wrapper">
    <nav class="navbar navbar-inverse navbar-fixed-top mynav">
      <div class="container-fluid">
        <div class="navbar-header">

          <a class="navbar-brand" href="#">Brand</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
      </div>
    </nav>


    <div class="left-menu">
        <ul class="list-group">
            <li class="list-group-item "><a href="/">level</a></li>
          <li class="list-group-item"><a href="/test">detail</a></li>
          <li class="list-group-item">compare</li>
        </ul>
    </div>

    <div class="content">
        <div class="container-fluid fileset">
      <div class="panel panel-primary">
        <div class="panel-heading">查询条件</div>
        <div class="panel-body fileset-body">

        <select id ="select0" class="selectpicker">
              <option>Mustard</option>
              <option>Ketchup</option>
              <option>Barbecue</option>
         </select>

        <select id ="select1" class="selectpicker" multiple title="click me" data-live-search="true" data-actions-box="true">

        </select>
             <select  class="selectpicker">
              <option>Mustard</option>
              <option>Ketchup</option>
              <option>Barbecue</option>
        </select>

        <select  id ="select2" class="selectpicker" multiple title="click me" disabled>
            <option value='0'>请选择</option>
        </select>



        <select id ="select3" class="selectpicker" multiple>
          <option value='0'>请选择</option>
        </select>


        <select class="selectpicker" multiple>
          <option>Mustard</option>
          <option>Ketchup</option>
          <option>Relish</option>
        </select>

        <input class="btn btn-primary" type="button" value="Add" id="add" >

        </div>
      </div>
    </div>
        <div class="content-main">
            <div class="content-nodes">

                <div class="content-node">content-nodecontent-nodecontent-nodecontent-nodecontent-nodecontent-nodecontent-node
                    content-nodecontent-nodecontent-nodecontent-nodecontent-node
                    <button class="detailTest">跳转</button>
                </div>
            </div>
            <div class="content-level">
                <div class="level">level</div>
                <div class="level">level</div>
                <div class="level">level</div>
                <div class="level">level</div>
                <div class="level">level</div>
                <div class="level">level</div>
                <div class="level">level</div>
                <div class="level">level</div>
                <div class="level">level</div>
                <div class="level">level</div>
                <div class="level">level</div>
                <div class="level">level</div>
                <div class="level">level</div>
                <div class="level">level</div>
                <div class="level">level</div>
                <div class="level">level</div>
                <div class="level">level</div>
                <div class="level">level</div>
                <div class="level">level</div>
                <div class="level">level</div>
                <div class="level">level</div>
                <div class="level">level</div>
                <div class="level">level</div>
                <div class="level">level</div>
                <div class="level">level</div>
                <div class="level">level</div>
                <div class="level">level</div>
                <div class="level">level</div>
                <div class="level">level</div>
                <div class="level">level</div>
                <div class="level">level</div>
                <div class="level">level</div>
                <div class="level">level</div>
                <div class="level">level</div>
                <div class="level">level</div>
                <div class="level">level</div>
                <div class="level">level</div>
                <div class="level">level</div>
                <div class="level">level</div>
                <div class="level">level</div>
            </div>
        </div>
    </div>

</div>







<script type="text/javascript" src="static/plugin/jquery/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="static/plugin/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="static/bak/bootstrap-table/bootstrap-table.min.js"></script>
<script type="text/javascript" src="static/bak/bootstrap-table/bootstrap-table-zh-CN.min.js"></script>
<script type="text/javascript" src="static/plugin/bootstrap-select/bootstrap-select.min.js"></script>
<script type="text/javascript" src="static/js/common/base.js"></script>
<script type="text/javascript" src="static/js/index.js"></script>
</body>
</html>